@font-face { font-family: OpenSauceSans; src: url('https://londonyp.org/assets/fonts/OpenSauceSans-Regular.ttf'); } 
@font-face { font-family: Anton; src: url('https://londonyp.org/assets/fonts/Anton-Regular.ttf') }