h3 {
    font-family: "Anton", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;                
    font-weight: 200;
    font-size: 4vh;
    letter-spacing: 0px;
    line-height: 1em;        
}

@media (max-width: 1070px) {
    h3 {
        font-size: 1.25em;
        line-height: 1.5em; 
    }
}