h2 {
    font-weight: 200;
    font-size: 1.5vw;
}

h2.yp-subtitle {
    text-align: center; 
    margin-bottom: 3vh;
}

@media (max-width: 1070px) {
    h2 {
        font-size: 1.25em;
        line-height: 1.5em;                                 
    }
}